*{
  box-sizing: border-box;
}

#header-nav
{
  background-color: 	#00bfff;
  border-radius: 0px;
  border: 0px;
  padding: 5px;
  border: 1px solid black;
}

.navbar-brand h1{ /* FOOD LLC */
  color: black;
  margin: 0px;
  font-family: Georgia, serif;
}

a:hover, a:focus{
  text-decoration: none;
}
.navbar-toggle{
  margin-top: 15px;
}

#nav-list{
  background-color: white;
  width: 100%;
  margin: 0px;
  border: 1px solid black;
  margin-top: 5px;
}

li:hover
{
  background-color: yellow;
}

li
{
border: 1px solid black;
}

#nav-list a
{
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

h2{
  font-weight: bold;
  font-family: Georgia, serif;
}

.Menu-Items{
  background-color: #FF7F50;
  color: black;
  box-shadow: 2px 2px 2px 2px grey;
}
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2em;
}
 a{
  color: red;
  font-weight: bold;
}
